/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.custom-font{
    font-family: 'Poppins', sans-serif;

    h1, h2, h3, h4, h5, h6, p, span, a, div{
        font-family: inherit;
    }
    
    p{
        margin-bottom: 1em;
        line-height: 1.7;
    }
}
.hero-font{
    font-family: 'Uncial Antiqua', serif;
}
.slogan-font{
    font-family: "Fascinate Inline", serif;
  font-weight: 400;
  font-style: normal;
}
.btn{
    text-transform: none!important;
}
.custom-radius{
    border-radius: 15px!important;
}
.button-radius{
    border-radius: 5px!important;
}
.bg-insta{
    background: linear-gradient(45deg, #E4405F, #F77737, #FFDC80, #833AB4, #405DE6);
}
.bg-github{
    background-color: #24292E!important;
}
.elevated-text {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 1), 0px 4px 8px rgba(0, 0, 0, 1);
}